*{
	margin:0px;
	padding:0px;
}
h1, .h1, h2, .h2, h3, .h3{
	margin:0px;
	padding:0px;  
}
/*css cho menu tren*/
.cf-top{
	background-color:#8328f2;
}
.row1{
	padding: 10px 0px 0px 0px;
}
.menu-top{ 
	border:none; 
	background:#8328f2; 
}
.navbar-brand{
	width: 180px;
	height: 60px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.formsearch{
	margin-left:100px;
}
.form-control{
font-size: 30px;
}
.btnhoidap{
    color:#592a92;
}
.btn:focus, .btn:focus:active, .btn.active:focus{
	outline-offset: 0px;
}
.btn-default{
	background-color: #8328f2;
}
.navbar-collapse{
	padding-right: 0px;
	padding-left: 0px;
}
.btn-search{
	font-size: 15px!important;
	color:#bababa !important;
	padding:0px !important; 
}
/*bat dau phan noi dung menu*/
.cf-content{
	padding-top: 1px;
	background-color: #1a1a1a;
}
.ds-menu{
	background-color: #34495e;
	width: 100%;
	height: 40px;
	margin:0 auto; 
}
.ds-menu ul{
	width: 90%;
	height: 40px;
}
.ds-menu ul li{
	display: inline-block;
	line-height: 40px;
	text-decoration: underline;
	border-left: 1px solid #ffffff;
}
.ds-menu ul li a{
	padding:20px;
	color: #ffffff;
}
.fa, .fab, .fal, .far, .fas{
	color:#FFFFFF;
	font-size: 20px;
	padding:5px; 

}
/*bắt đàu của quảng cáo*/
.ads{
	margin-top:5px;  
	width:100%;
	height:90px;
}
.ads img{
	width: 100%;
	height: 90px;
}
/*bắt đàu slide*/
.sline{
	margin: 5px 0 0 15px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	width: 770px;
}
/*thumbnail đầu tiên*/
.thumbnail{
	margin-left: 15px;
	padding:0px 0px; 
	background-color: #1a1a1a;
	border:hidden;
	text-align:center; 
 }
.thumbnail-thu1{
	margin-top:10px; 
	border:none;
}
.thumbnail-thu1 img{
	width:160px;
	height:210px;
}
.name{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    color: #0094fc;
    font-size: 13px;
    text-transform:capitalize;
    padding-top: 3px;
    line-height:7x;
}
.thumbnail-thu1 a:hover{
    text-decoration: none;
}
.real-name{
    font-size: 11px;
    color: #fbfbfb !important;
    font-weight: normal;
    text-transform: capitalize;
}
.thumbnail, .img-thumbnail{
	box-shadow: none;
}
/* bắt đầu css title của phim bộ*/
.title-phimbo{
	width: 102%;
	height: 40px;
	background:#466079; 
	margin-left: 1px;
}
.title-phimbo h3{
	padding-top:5px;
	font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}
h4{
	color: #ff8034;
}
.all{
	padding-top: 10px;
	padding-left: 30px;
}
.all a{
	text-transform: capitalize;
	color: #eee;
	font-weight: bold;
	font-size: 14px;
}
/*css footer*/
.footer{
	background:#34495e;
}
.row-footer{
	padding-top:15px; 
}
.row-footer h5{
	color: #ffffff;
	text-transform:capitalize;
}
.row-footer ul li{
	list-style: none;
}
.row-footer a{
	color:#999999;
}
.row-footer a:hover{

	color:#ffffff;
	text-decoration: none;
}
/*kết thúc left content*/
.title-right{
	text-align:center; 
    background: #7713f1;
    color: #ccc;
    margin-top:5px;
    width: 359px;
    margin-left:1px;
}
.title-right a{
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
    padding:50px;
    text-decoration: none;
    line-height: 50px;
    font-size: 18px;
}
.title-right a:hover{
	color:#ffc20a;
}
/*danh sách phim bộ lẻ*/
.list-film{ 
    background: #333;
    margin-top:5px;
    width: 359px;
    color: #eee;
    margin-left:1px;   
}
.list-film a:focus{
	outline-offset:0px;
}
.list-film ul li a{
	text-transform: uppercase;
}
.ct ul li{
	list-style: none;
	padding:15px;
	border-bottom:1px dashed #bababa;
	position: relative;
}
.ct ul li a{
	padding-left: 20px;
	text-transform:capitalize;
	font-weight:bold;
	color: #fff;
}
.ct ul li a:hover{
	color: #ffc20a;
	text-decoration: none;
}
.mat{
     position: absolute;
     font-size: 10px;
     left: 25px;
}
.end{
    border-bottom: none !important;
}
.ct span{
	color: #ffc20a;
    font-weight: bold;
    left: 10px;
    top: 15px;
    width: 23px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    font-size: 22px;
    position: absolute;
}
.ct .view{
	margin-left: 33px;
	color: #BABABA;
    font-size: 12px;
    font-style: italic
}